

body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-color: #593266; */
    background-image: url("../assets/bg.png");

}

nav {
    background-color: #33014a;
    color: white;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    width: 230px;
    margin: 15px;
}

.coming-soon-container {
    text-align: center;
    width: 900px;
    height: 500px;
    padding: 50px;
    margin: 50px auto;
    /* background-color: #fff; */
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background: rgba( 255, 255, 255, 0.35 );
    position: relative;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );

}

.coming-soon-container p ,h1{
    color: white;
}
.loader {
    border: 8px solid #33014a;
    border-top: 8px solid #ffa902;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

h1 {
    color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #fff;
}

#countdown {
    font-size: 24px;
    color: #fff;
    margin-top: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
}




/* Media Queries for Tablet */
@media (max-width: 768px) {
    .logo img {
        max-width: 200px; 
        display: block;
        margin: auto; /* Center the logo */
    }

    .coming-soon-container {
        padding: 15px;
    }
}


/* Media Queries for Mobile Phones */
@media (max-width: 480px) {

    body{
        background-image: url("../assets/bg.png");
    }
   
    nav {
        width: 100%;
        overflow: hidden;
        padding: 0px;
    }

    .logo img {
        max-width: 180px; 
        padding: 0;
        margin-left: 30px;
    }

    .coming-soon-container {
        width: 80%;
        padding: 0;
        height: 400px;
        margin: auto;
        margin-top: 50px;
        text-align: center;
    }

    .loader{
        top: 65%;
    }

}

