body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-color: #593266; */
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/bg.png");
}


nav {
  background-color: #33014a;
  color: white;
  height: 100px;
  display: flex;
  padding: 10px;
  align-items: center;

}

.logo img {
  object-fit: contain;
  width: 230px;
  float: left;
  margin: 15px;
  margin-left: 50px;
}

.banner {
    width: 80%;
    justify-content: center;
    margin: 0 auto; /* Center horizontally */
    align-items: center;
    display: flex;
    height: 100%;
  }
.banner img {
  margin-top: 30px;
  width: 40%;
  object-fit: contain;
}

.coming-soon-container {
  text-align: center;
  width: 850px;
  height: 700px;
  padding: 50px;
  margin: 50px auto;
  /* background-color: #fff; */
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background: rgba(255, 255, 255, 0.35);
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
}

.coming-soon-container h1 {
  font-size: 42px;
}
.coming-soon-container p {
  color: white;
  font-size: 28px;
}

#countdown {
  font-size: 14px;
  color: #fff;
  margin-top: 100px;
  padding: 10px;
  font-family: 'Playfair Display', serif;    font-size: 36px;
  text-wrap: wrap;
}

 /* Change the color of seconds in the countdown */
 #countdown span.seconds {
  color: #ffa902; /* Replace with your desired color */
}





.coupon{
width: 700px;
justify-content: center;
margin: auto;
height: auto;
}
.coupon img{
margin-top: 30px;
width: 700px;
height: 300px;
object-fit: contain;
padding-bottom: 50px;
}



.loader {
  border: 8px solid #33014a;
  border-top: 8px solid #ffa902;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  color: #fff;
}

#countdown {
  font-size: 18px;
  color: #fff;
  margin-top: 170px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 36px;
}
#countdown span.seconds {
    color: #ffa902; /* Replace with your desired color */
  }

  
  

/* Media Queries for Mobile Phones */
@media (max-width: 768px) {
  body {
    background-image: url("../assets/bg.png");
    display: block;
  }

  nav {
    width: 100%;
    overflow: hidden;
    padding: 0px;
  }
  .banner {
    width: 100%;
    height: 100px;
    margin: 0px;
  }
  .banner img {
    max-width: auto;
  }

  .logo img {
    max-width: 180px;
    padding: 0;
    margin-left: 30px;
  }

  .coming-soon-container {
    width: 80%;
    padding: 0;
    min-height: 400px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    height: auto;
    min-height: 400px;
    text-wrap: wrap;
  }
  .coming-soon-container h1{
    padding: 10px;
  }
  .coming-soon-container p {
    padding: 10px;
    font-size: 20px;
  }

  .loader {
    top: 45%;
    left: 50%;
  }

  .coupon{
    width: 300px;
    justify-content: center;
    margin: auto;
    height: auto;
    }
    .coupon img{
    margin-top: 30px;
    width: 300px;
    height: 100px;
    object-fit: contain;
    padding-bottom: 50px;
    }


}
